:root {
	/* colors */
	--green-500: #38c97c;
	--grey-200: #a7aeb4;
	--grey-400: #8c959d;
	--grey-800: #596269;
	--grid-bg: #eef4fa;
	--info-50: #f1f5fe;
	--info-500: #276ef1;
	--info-600: #1e54b7;
	--neutral-500: #dee1e3;
	--primary-100: #d9ebf9;
	--primary-200: #b3d6f3;
	--primary-500: #4299e1;
	--text-main: #2e3f51;
	--text-menu: #5f799c;
	--white-100: #ffffff;
	--white-50: #ffffff80;

	/* font weight */
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	/* font size */
	/* 12px */
	--fs-12: 0.75rem;
	/* 14px */
	--fs-14: 0.875rem;
	/* 16px */
	--fs-16: 1rem;
	/* 20px */
	--fs-20: 1.25rem;
	/* 32px */
	--fs-32: 2rem;

	/* line height */
	--lh-150: 150%;
	--lh-200: 200%;
}

body {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Noto Sans JP', sans-serif;
}
